<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrameWidth" value="1280"/>
    <add key="FrameHeight" value="1024"/>
    <add key="FramRate" value="2"/>
    <add key="Foldername" value="Screenshot"/>
</appSettings>  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>